.dashboard-item {
    transition: all 0.3s ease;
}
.dashboard-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.gradient-bg {
    background: linear-gradient(135deg, #6e8efb 0%, #a777e3 100%);
}
.modal {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal-content {
    transition: transform 0.3s ease;
}
.modal.active {
    opacity: 1;
    visibility: visible;
}
.modal.active .modal-content {
    transform: translateY(0);
}
.fab:hover {
    transform: scale(1.2);
}
#name{
    color: black;
    background-color: white;
}
input[name="email"]{
    color: black;
    background-color: white;
}

textarea[name="message"]{
    color: rgb(0, 0, 0);
    background-color: white;
}
/* Menu mobile inicialmente oculto */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1rem;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: calc(100vh - 100%); /* preenche o restante da tela abaixo do header */
    z-index: 10;
}
/* Classe para exibir o menu quando ativo */
.mobile-menu.active {
    display: flex;
}
/* Botões do menu mobile */
.mobile-menu a {
    color: white;
    padding: 1rem 0;
    text-align: center;
    font-weight: bold;
    font-size: 170%;
}
.mobile-menu a:hover {
    color: #d1d5db; /* hover:text-gray-200 */
    font-size: 200%;
    transition: all 0.3s ease;
}
/* Para posicionar o header corretamente */
header {
    position: relative;
}
.dark-mode {
  background-color: #1a1a1a;
  color: #f0f0f0;
}
.dark-mode .bg-gray-50 .shadow-md{
  background-color: #222 !important;
}
/* Aplica contraste mantendo diferença entre cinzas */
.dark-mode .bg-white,
.dark-mode .bg-gray-50 {
  background-color: #2c2c2c !important;
}

.dark-mode #services .bg-gray-50 {
  background-color: #222 !important;
}
.dark-mode .bg-gray-50 .shadow-md{
  background-color: #222 !important;
}
.dark-mode .text-gray-800,
.dark-mode .text-gray-700,
.dark-mode .text-gray-600 {
  color: #f0f0f0 !important;
}
.dark-mode .text-gray-400 {
  color: #bbbbbb !important;
}
.dark-mode .bg-gray-800 {
  background-color: #111111 !important;
}
.dark-mode .bg-purple-100 {
  background-color: #5b3f79 !important;
}
.dark-mode .text-purple-800 {
  color: #e0caff !important;
}
.dark-mode input,
.dark-mode textarea {
  background-color: #333 !important;
  color: #f0f0f0 !important;
  border-color: #555 !important;
}
.dark-mode .modal-content {
  background-color: #2c2c2c !important;
  color: #f0f0f0 !important;
}
.dark-mode a[href="#portfolio"].bg-white {
    background-color: #333 !important;
    color: #f0f0f0 !important;
    border: 1px solid #666;
}
.dark-mode .filter-btn {
    background-color: #222 !important;
    color: #f0f0f0 !important;
    border: 1px solid #333;
}
.dark-mode .fab:hover {
    color: #ffffff !important;
}